## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.08,-159.32,77.00,88,90,6.93,light rain
1,1,Rikitea,PF,-23.12,-134.97,74.17,86,72,24.36,broken clouds
2,2,Suba,PH,10.84,121.01,83.68,77,97,17.36,light rain
3,3,Hithadhoo,MV,-0.60,73.08,82.17,74,100,7.96,heavy intensity rain
4,4,Norman Wells,CA,65.28,-126.83,-2.20,84,75,2.24,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Get the maximum temperature.
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.08,-159.32,77.00,88,90,6.93,light rain
2,2,Suba,PH,10.84,121.01,83.68,77,97,17.36,light rain
3,3,Hithadhoo,MV,-0.60,73.08,82.17,74,100,7.96,heavy intensity rain
7,7,Bosaso,SO,11.28,49.18,76.59,72,0,4.99,clear sky
8,8,Namatanai,PG,-3.67,152.43,83.75,73,67,3.85,broken clouds
9,9,Victoria,HK,22.29,114.16,81.00,60,100,1.01,overcast clouds
12,12,Bengkulu,ID,-3.80,102.27,80.82,79,100,1.10,overcast clouds
15,15,Atuona,PF,-9.80,-139.03,77.86,77,92,14.76,light rain
16,16,Vaini,TO,-21.20,-175.20,78.80,83,75,10.29,broken clouds
21,21,Male,MV,4.17,73.51,86.00,74,20,5.82,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                181
City                   181
Country                181
Lat                    181
Lng                    181
Max Temp               181
Humidity               181
Cloudiness             181
Wind Speed             181
Current Description    181
dtype: int64

In [7]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.08,-159.32,77.00,88,90,6.93,light rain
2,2,Suba,PH,10.84,121.01,83.68,77,97,17.36,light rain
3,3,Hithadhoo,MV,-0.60,73.08,82.17,74,100,7.96,heavy intensity rain
7,7,Bosaso,SO,11.28,49.18,76.59,72,0,4.99,clear sky
8,8,Namatanai,PG,-3.67,152.43,83.75,73,67,3.85,broken clouds
...,...,...,...,...,...,...,...,...,...,...
656,656,Tabou,CI,4.42,-7.35,76.98,90,12,5.86,light rain
658,658,Hobyo,SO,5.35,48.53,79.34,79,2,6.71,light rain
667,667,Meulaboh,ID,4.14,96.13,83.75,71,93,3.38,light rain
671,671,Galesong,ID,-5.32,119.37,87.26,58,100,0.72,light rain
675,675,Culebra,PR,18.30,-65.30,80.60,83,90,6.93,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,77.00,light rain,22.08,-159.32,
2,Suba,PH,83.68,light rain,10.84,121.01,
3,Hithadhoo,MV,82.17,heavy intensity rain,-0.60,73.08,
7,Bosaso,SO,76.59,clear sky,11.28,49.18,
8,Namatanai,PG,83.75,broken clouds,-3.67,152.43,
9,Victoria,HK,81.00,overcast clouds,22.29,114.16,
12,Bengkulu,ID,80.82,overcast clouds,-3.80,102.27,
15,Atuona,PF,77.86,light rain,-9.80,-139.03,
16,Vaini,TO,78.80,broken clouds,-21.20,-175.20,
21,Male,MV,86.00,few clouds,4.17,73.51,

In [12]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # 6a. Set parameters to search for hotels with 5000 meters.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,77.00,light rain,22.08,-159.32,Kapaʻa
2,Suba,PH,83.68,light rain,10.84,121.01,Cuyo
3,Hithadhoo,MV,82.17,heavy intensity rain,-0.60,73.08,Addu City
7,Bosaso,SO,76.59,clear sky,11.28,49.18,Bosaso
8,Namatanai,PG,83.75,broken clouds,-3.67,152.43,Namatanai
9,Victoria,HK,81.00,overcast clouds,22.29,114.16,Hong Kong
12,Bengkulu,ID,80.82,overcast clouds,-3.80,102.27,Bengkulu
15,Atuona,PF,77.86,light rain,-9.80,-139.03,Atuona
16,Vaini,TO,78.80,broken clouds,-21.20,-175.20,Nukuhetulu
21,Male,MV,86.00,few clouds,4.17,73.51,Malé

In [13]:
# 8a. Create the output File (CSV)
output_data_file = 'Vacation_Search/WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))